<table class="table">
<tbody>
	
	<tr>
		<td class="publication">
			<span class="pubtitle">
				Evaluating Schedulers in a Reconfigurable Multicore Heterogeneous System.
			</span><br />
			<span class="authors">
				Jeckson Dellagostin Souza, Joao Victor Gomes Cachola, Luigi Carro, Mateus Beck Rutzig, and Antonio Carlos Schneider Beck.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Symposium on Applied Reconfigurable Computing</span>.
			<br />
			
		</td>
	</tr>
	
	<tr>
		<td class="publication">
			<span class="pubtitle">
				A reconfigurable heterogeneous multicore with a homogeneous ISA.
			</span><br />
			<span class="authors">
				Jeckson Dellagostin Souza, Luigi Carro, Mateus Beck Rutzig, and Antonio Carlos Schneider Beck.
			</span><br />
			<span class="venuetype"></span><span class="venue">Automation & Test in Europe Conference & Exhibition (DATE) 2016 Design</span>.
			<br />
			
		</td>
	</tr>
	
	<tr>
		<td class="publication">
			<span class="pubtitle">
				The Impact of Heterogeneity on a Reconfigurable Multicore System.
			</span><br />
			<span class="authors">
				Rafael Fao Moura, Jeckson Dellagostin Souza, Luigi Carro, Antonio Carlos Schneider Beck, and Mateus Beck Rutzig.
			</span><br />
			<span class="venuetype"></span><span class="venue">2016 IEEE Computer Society Annual Symposium on VLSI (ISVLSI)</span>.
			<br />
			
		</td>
	</tr>
	 
	<tr>
		<td class="publication">
			<a href="publications.html">See all publications</a>
		</td>
	</tr>
</tbody>
</table>
